* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "sf-ui-medium", sans-serif;
	line-height: 1.4;
}


.wrap {
	padding: 20px;
}

.header {
	padding: 20px 0;

	a {
		color: #000;
		text-decoration: none;

		&.locale {
			font-size: 65%;
		}
	}
}

.intro {
	font-size: 14px;
}
