{
  "passPerPreset": true,
  "plugins": [
    "./tools/babelRelayPlugin.js",
    "transform-decorators-legacy",
    "transform-flow-strip-types",
    "transform-class-properties",
    "transform-runtime",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "actions": "./src/actions",
        "components": "./src/components",
        "containers": "./src/containers",
        "reducers": "./src/reducers",
        "routes": "./src/routes"
      }
    }]
  ],
  "presets": [
    "react",
    "es2015",
    "stage-0"
  ]
}
