{
  "passPerPreset": true,
  "plugins": [
    "transform-runtime",
    [
      "babel-root-import",
      {
        "rootPathSuffix": "src"
      }
    ]
  ],
  "presets": [
    "react",
    "es2015",
    "stage-0"
  ]
}
