@import '../../shared-styles/mixins';

.track {
  @include clearfix;
  border-top: 1px solid $detail;
  color: light;
  cursor: pointer;
  font-size: 15px;
  letter-spacing: -.3px;
  line-height: 1.5;
  list-style-type: none;
  position: relative;
}

.item {
  @include clearfix;
  border-bottom: 1px solid $lightborder;
  color: light;
  cursor: pointer;
  font-size: 15px;
  letter-spacing: -.3px;
  line-height: 1.5;
  list-style-type: none;
  padding: 10px 5px;
  position: relative;

  &:last-of-type {
    border-bottom: 0;
  }

  .dashicons-controls-pause,
  .dashicons-controls-play {
    color: $black;
    margin: 0 4px 0 6px;
  }
}

.control {
  float: left;
  height: 20px;
  padding-right: 10px;
  text-align: right;
  width: 30px;

  span {
    display: none;
  }
}

.notplaying {
  cursor: pointer;
}

// not playing, not selected
.notplaying .control .text,
/* not playing, hover */
.notplaying:hover .control .dashicons-controls-play,
.paused .control .dashicons-controls-play,
.paused:hover .control .dashicons-controls-play,
/* playing, hover */
.playing .control .dashicons-controls-pause,
.playing:hover .control .dashicons-controls-pause {
  display: inline-block;
}

// not playing, not selected
.notplaying:hover .text {
  display: none;
}

@mixin text() {
  color: $black;
  float: left;
  font-family: 'sf-ui-regular', sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.name {
  @include text;
  width: calc(80% - 35px);
}

.searchName {
  @include text;
  width: calc(80% - 15px);
}

.length {
  float: right;
  text-align: right;
  width: 15%;
}
