.Album {
	padding: 20px;
	border: 1px solid #eee;
	width: 65%;
	overflow: hidden;
}

.Album::after {
	content: " ";
	display: table;
	clear: both;
}

.Album figure {
	float: left;
	width: 40%;
}

.Album figcaption {
	margin: 10px 0 0;
	display: block;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: -.3px;
	opacity: 0.5;
	color: #333;
	font-family: "sf-ui-regular", sans-serif;
}

.Album figure img {
	max-width: 100%;
	display: block;
}

.Album-info {
	float: right;
	width: 55%;
}

@media only screen and (max-width: 820px) {
	.Album figure {
		float: none;
		width: 100%;
	}

	.Album-info {
		float: none;
		width: 100%;
	}
}

.Album-info h1 {
	font-size: 18px;
	letter-spacing: -.1px;
	font-weight: normal;
}

.Album-info h2 {
	color: #ff2d55;
	font-size: 18px;
	letter-spacing: -.3px;
	font-weight: normal;
}

.Album-info-meta {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: -.3px;
	opacity: 0.5;
	color: #333;
	font-family: "sf-ui-regular", sans-serif;
}

.Album-info ol {
	margin: 10px 0;
	height: 180px;
	padding: 0 10px 0 0;
	overflow-y: auto;
	overflow-x: visible;
}