@import "mixins";

.Album {
	padding: 20px;
	border: 1px solid #eee;
	overflow: hidden;
	margin: 20px 0;

	@include clearfix;

	figure {
		float: left;
		position: relative;
		width: 23%;

		.dashicons {
			position: absolute;
			display: none;
			font-size: 80px;
			line-height: 80px;
			color: #fff;
			top: calc(50% - 54px);
			left: calc(50% - 40px);
			cursor: pointer;
		}

		img {
			max-width: 100%;
			display: block;
		}
	}

	figcaption {
		margin: 10px 0 0;
		display: block;
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: -.3px;
		opacity: 0.5;
		color: #333;
		font-family: "sf-ui-regular", sans-serif;
	}
}

.Album-paused figure .dashicons-controls-play,
.Album-playing figure .dashicons-controls-pause {
	display: inline-block;
}

.Album-info {
	float: right;
	width: 75%;

	h1 {
		font-size: 18px;
		letter-spacing: -.1px;
		font-weight: normal;

		a {
			text-decoration: none;
			color: #000;
		}
	}

	h2 {
		color: #ff2d55;
		font-size: 18px;
		letter-spacing: -.3px;
		font-weight: normal;

		a {
			text-decoration: none;
			color: #ff2d55;
		}
	}

	ol {
		margin: 10px 0;
		padding: 0 10px 0 0;
		overflow-y: auto;
		overflow-x: visible;
	}
}

@media only screen and (max-width: 820px) {
	.Album figure {
		float: none;
		width: 100%;
	}

	.Album-info {
		float: none;
		width: 100%;
	}
}

.Album-info-meta {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: -.3px;
	opacity: 0.5;
	color: #333;
	font-family: "sf-ui-regular", sans-serif;
}