.Track {
	color: rgba(51, 51, 51, 0.6);
	padding: 10px 5px;
	position: Relative;
	font-size: 15px;
	line-height: 1.5;
	letter-spacing: -.3px;
	border-bottom: 1px solid rgba(8, 40, 51, 0.2);
	cursor: pointer;
	list-style-type: none;

	&:last-of-type {
		border-bottom: 0;
	}

	&::after {
		content: " ";
		display: table;
		clear: both;
	}

	.dashicons-controls-pause,
	.dashicons-controls-play {
		margin: 0 4px 0 6px;
		color: #000;
	}
}

.TrackControl {
	float: left;
	text-align: right;
	width: 30px;
	height: 20px;
	padding-right: 10px;

	span {
		display: none;
	}
}

.TrackNotPlaying {
	cursor: pointer;
}

/* not playing, not selected */
.TrackNotPlaying .TrackControl .TrackControlText,
/* not playing, hover */
.TrackNotPlaying:hover .TrackControl .dashicons-controls-play,
.TrackPaused .TrackControl .dashicons-controls-play,
.TrackPaused:hover .TrackControl .dashicons-controls-play,
/* playing, hover */
.TrackPlaying .TrackControl .dashicons-controls-pause,
.TrackPlaying:hover .TrackControl .dashicons-controls-pause {
	display: inline-block;
}

/* not playing, not selected */
.TrackNotPlaying:hover .TrackControlText {
	display: none;
}

.TrackName {
	color: #000;
	font-family: "sf-ui-regular", sans-serif;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
	float: left;
	width: calc(80% - 35px);
}

.TrackLength {
	float: right;
	text-align: right;
	width: 15%;
}
